body {
  font-family: sans-serif;
}
span {
  font-size: 14px;
}
.header {
  padding: 35px 0;
  color: #fff;
}

.header h1 {
  font-size: 36px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.result {
  margin-top: 40px;
}
.accordion-button {
  outline: none;
  font-size: 13px;
  font-weight: bold;
  padding-left: 0px;
}

.accordion-item:first-child .accordion-button {
  padding-top: 0px;
}
.accordion-item .accordion-button {
  padding-right: 10px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button::after {
  content: "+";
  width: auto !important;
  height: auto !important;
  background-image: none !important;
  transition: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: black !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
  content: "-";
  background-image: none !important;
}
.accordion-body {
  padding: 0px;
  padding-top: 8px;
}
.accordion-body ul {
  padding: 0px;
}
.accordion-body ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.accordion-body ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.accordion-body ul li a:before {
  content: "";
  width: 19px;
  height: 19px;
  border: solid 1px #bcbcbc;
  border-radius: 10px;
  display: inline-block;
  margin-right: 7px;
}
.accordion-body ul li span {
  font-size: 12px;
}
.listing-content {
  padding: 10px;
  height: 150px;
  overflow: auto;
  background-color: #f4f4f4;
}
.navbar > .container {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.section {
  padding: 50px 0px;
  background-color: #f2f2f2;
}

.banner {
  position: relative;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/flymedi-banner.webp) no-repeat top;
  background-size: cover !important;
  z-index: -1;
}
.banner::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.47;
  background-image: linear-gradient(121deg, #006fb2 33%, #01aedd 73%);
  z-index: -1;
}

.banner .breadcrumbs {
  height: 40px;
  line-height: 40px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

.banner .breadcrumbs ul {
  list-style-type: none;
  padding: 0px;
}

.banner .breadcrumbs ul li {
  float: left;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.96);
  font-size: 11px;
  font-weight: 700;
}

.banner .breadcrumbs ul li a {
  color: white;
  text-decoration: none;
}

.banner .breadcrumbs ul li:last-child {
  color: #c7e1ef;
  font-weight: normal;
}

footer {
  padding: 50px 0px;
  background-image: linear-gradient(123deg, #006fb2 33%, #01aedd 74%);
}

.menu-header {
  line-height: 25px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 6px;
  display: block;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #fff;
}

@font-face {
  font-family: flymedi;
  src: url(../fonts/icons/flymedi.eot?nx09kg);
  src: url(../fonts/icons/flymedi.eot?nx09kg#iefix) format("embedded-opentype"),
    url(../fonts/icons/flymedi.ttf?nx09kg) format("truetype"),
    url(../fonts/icons/flymedi.woff?nx09kg) format("woff"),
    url(../fonts/icons/flymedi.svg?nx09kg#flymedi) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class*=" fi-"],
[class^="fi-"] {
  font-family: flymedi !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-clock:before {
  content: "";
}

.fi-patient:before {
  content: "";
}

.fi-mail:before {
  content: "";
}

.fi-arrow-right:before {
  content: "";
}

.fi-hotel-pick-up:before {
  content: "";
}

.companyList .content .collapseMain .commentCarousel .owl-nav .owl-next:before,
.companyList .content .collapseMain .commentCarousel .owl-nav .owl-prev:before,
.companyList .content .from .reviews.hasComment.collapsed:before,
.companyList .content .from .reviews.hasComment:before,
.fi-angle-arrow-down:before,
.fi-angle-arrow-left:before,
.fi-angle-arrow-right:before,
.fi-angle-arrow-up:before,
.fi-angle-arrow:before,
.searchBox .content .group ul li a:before {
  content: "";
}

.fi-bold-arrow-down:before,
.fi-bold-arrow-left:before,
.fi-bold-arrow-right:before,
.fi-bold-arrow-up:before,
.fi-bold-arrow:before {
  content: "";
}

.fi-guaranteed:before {
  content: "";
}

.fi-search:before {
  content: "";
}

.fi-tick-success:before {
  content: "";
}

.fi-whatsapp:before {
  content: "";
}

.fi-facebook:before {
  content: "";
}

.fi-twitter:before {
  content: "";
}

.fi-instagram:before {
  content: "";
}

.fi-youtube:before {
  content: "";
}

.fi-airport-pick-up:before {
  content: "";
}

.fi-hotel-booking:before {
  content: "";
}

.fi-translation-services:before {
  content: "";
}

.fi-visa-travel-office:before {
  content: "";
  color: #575756;
}

.fi-free-wifi:before,
.fi-wifi:before {
  content: "";
}

.fi-local-guide:before {
  content: "";
}

.fi-healthcare-services:before {
  content: "";
}

.fi-visit-places:before {
  content: "";
}
